.travel-list {
  padding: 12px;
  background-color: var(--adm-color-background);
  min-height: 100vh;
  transition: all 0.3s ease;

  &.dark {
    .search-bar {
      background: var(--adm-color-box);
    }

    .travel-card {
      background: var(--adm-color-box);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

      .travel-info {
        .travel-title {
          color: var(--adm-color-text);
        }

        .author-info {
          .author-name {
            color: var(--adm-color-text-secondary);
          }
        }
      }
    }

    .loading {
      color: var(--adm-color-text-secondary);
    }
  }

  .search-bar {
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 12px;
    background: var(--adm-color-box);
    transition: background-color 0.3s ease;
  }

  .masonry-grid {
    display: flex;
    gap: 12px;
  }

  .masonry-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .travel-card {
    background: var(--adm-color-background);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    break-inside: avoid;
    transition: all 0.3s ease;

    // &:active {
    //   transform: scale(0.98);
    // }

    .travel-image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .travel-info {
      padding: 8px;

      .travel-title {
        margin: 0 0 8px;
        font-size: 14px;
        line-height: 1.4;
        color: var(--adm-color-text);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        transition: color 0.3s ease;
      }

      .card-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;

        .author-info {
          display: flex;
          align-items: center;
          gap: 8px;

          .author-name {
            font-size: 14px;
            color: var(--adm-color-text);
          }
        }
      }
    }
  }

  .loading {
    padding: 12px 0;
    text-align: center;
    color: var(--adm-color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: color 0.3s ease;
  }
}
