.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--adm-color-background);
  transition: background-color 0.3s ease;

  &.dark {
    background-color: var(--adm-color-background);
    color: var(--adm-color-text);

    .content {
      background-color: var(--adm-color-background);
    }

    .tab-bar-container {
      background-color: var(--adm-color-box);
      border-top: 1px solid var(--adm-border-color);
    }
  }

  .content {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 50px;
    transition: background-color 0.3s ease;
  }

  .tab-bar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--adm-color-box);
    transition: all 0.3s ease;
    border-top: 1px solid var(--adm-border-color);
  }
}
