.following-page {
  min-height: 100vh;
  background-color: var(--adm-color-background);
  .adm-tabs-header {
    border-bottom: none;
  }
  &.dark {
    background-color: var(--adm-color-background-dark);

    .adm-nav-bar {
      --adm-color-text: rgba(255, 255, 255, 0.9);
      background-color: var(--adm-color-background-dark);
    }
  }

  .adm-nav-bar {
    background-color: var(--adm-color-background);
    border-bottom: solid 1px var(--adm-color-border);
  }

  .following-list,
  .fan-list,
  .star-list {
    --border-inner: none;
    --border-top: none;
    --border-bottom: none;
    margin-top: 8px;
  }

  .follow-status {
    font-size: 13px;
    color: var(--adm-color-primary);
  }

  .travel-cover {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  :global {
    .adm-list-item-content-main {
      padding: 8px 0;
    }
  }
}
